In [ ]:
import pandas as pd

In [22]:
poke = pd.read_csv('https://raw.githubusercontent.com/thegoodly1/Pokemon-Exploration-Prediction/master/pokemon_alopez247.csv')
mon  = pd.read_csv('https://raw.githubusercontent.com/thegoodly1/Pokemon-Exploration-Prediction/master/pokemon%2Bspecies.csv')
evol = pd.read_csv('https://raw.githubusercontent.com/thegoodly1/Pokemon-Exploration-Prediction/master/pokemon%2Bspecies.csv')

In [28]:
pokemon = pd.concat([poke, mon], axis=1)

In [29]:

pokemon = pd.concat([pokemon, evol], axis=1)

In [36]:
# informações da tabela
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 79 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            721 non-null    int64
 1   Name              721 non-null    object
 2   Type_1            721 non-null    object
 3   Type_2            721 non-null    object
 4   Total             721 non-null    int64
 5   HP                721 non-null    int64
 6   Attack            721 non-null    int64
 7   Defense           721 non-null    int64
 8   Sp_Atk            721 non-null    int64
 9   Sp_Def            721 non-null    int64
 10  Speed             721 non-null    int64
 11  Generation        721 non-null    int64
 12  isLegendary       721 non-null    bool
 13  Color             721 non-null    object
 14  hasGender         721 non-null    bool
 15  Pr_Male           644 non-null    float64
 16  Egg_Group_1       721 non-null    object
 17  Egg_Group_2       191 non-null    object
 18  hasMegaEvolution  721 non-null    bool
 19  Height_m          721 non-null    float64
 20  Weight_kg         721 non-null    float64
 21  Catch_Rate        721 non-null    int64
 22  Body_Style        721 non-null    object
 23  Unnamed: 0        721 non-null    int64
 24  Number            721 non-null    int64
 25  Name              721 non-null    object
 26  Type_1            721 non-null    object
 27  Type_2            721 non-null    object
 28  Total             721 non-null    int64
 29  HP                721 non-null    int64
 30  Attack            721 non-null    int64
 31  Defense           721 non-null    int64
 32  Sp_Atk            721 non-null    int64
 33  Sp_Def            721 non-null    int64
 34  Speed             721 non-null    int64
 35  Generation        721 non-null    int64
 36  isLegendary       721 non-null    bool
 37  Color             721 non-null    object
 38  hasGender         721 non-null    bool
 39  Pr_Male           721 non-null    float64
 40  Egg_Group_1       721 non-null    object
 41  Egg_Group_2       191 non-null    object
 42  hasMegaEvolution  721 non-null    bool
 43  Height_m          721 non-null    float64
 44  Weight_kg         721 non-null    float64
 45  Catch_Rate        721 non-null    int64
 46  Body_Style        721 non-null    object
 47  species           721 non-null    object
 48  Pr_Female         721 non-null    float64
 49  BMI               721 non-null    float64
 50  region            721 non-null    object
 51  Unnamed: 0        721 non-null    int64
 52  Number            721 non-null    int64
 53  Name              721 non-null    object
 54  Type_1            721 non-null    object
 55  Type_2            721 non-null    object
 56  Total             721 non-null    int64
 57  HP                721 non-null    int64
 58  Attack            721 non-null    int64
 59  Defense           721 non-null    int64
 60  Sp_Atk            721 non-null    int64
 61  Sp_Def            721 non-null    int64
 62  Speed             721 non-null    int64
 63  Generation        721 non-null    int64
 64  isLegendary       721 non-null    bool
 65  Color             721 non-null    object
 66  hasGender         721 non-null    bool
 67  Pr_Male           721 non-null    float64
 68  Egg_Group_1       721 non-null    object
 69  Egg_Group_2       191 non-null    object
 70  hasMegaEvolution  721 non-null    bool
 71  Height_m          721 non-null    float64
 72  Weight_kg         721 non-null    float64
 73  Catch_Rate        721 non-null    int64
 74  Body_Style        721 non-null    object
 75  species           721 non-null    object
 76  Pr_Female         721 non-null    float64
 77  BMI               721 non-null    float64
 78  region            721 non-null    object
dtypes: bool(9), float64(13), int64(32), object(25)
memory usage: 400.8+ KB

In [31]:
pokemon.head()

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style,species,Pr_Female,BMI,region
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Grass,False,0.71,6.9,45,quadruped,Seed,0.125,13.687760,Kanto
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Grass,False,0.99,13.0,45,quadruped,Seed,0.125,13.263953,Kanto
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Grass,True,2.01,100.0,45,quadruped,Seed,0.125,24.751863,Kanto
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Dragon,False,0.61,8.5,45,bipedal_tailed,Lizard,0.125,22.843322,Kanto
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Dragon,False,1.09,19.0,45,bipedal_tailed,Flame,0.125,15.991920,Kanto

In [34]:
pokemon.Type_2 =pokemon.Type_2.fillna('None')

In [40]:
pokemon.Type_2.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'